

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 text-center">ABOUT US</h1>
                
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card shadow-lg border-0 rounded-lg">
                                <div class="card-body">
                                    <h3 class="text-center text-primary mb-4">Welcome to Event4u</h3>
                                    <p class="lead text-muted text-justify">
                                        Welcome to Event4u, your go-to platform for discovering and booking exciting events! 
                                        Founded in 2025, we aim to bring people together by offering a seamless experience for exploring a wide range of events,
                                        from outdoor adventures to cultural expos and everything in between. 
                                    </p>
                                    <p class="lead text-muted text-justify">
                                        Whether you're looking for a new activity to try or planning an unforgettable experience, Event4u has something for everyone.
                                        Join us and never miss out on an amazing event again!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

 